{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "object-curly-spacing": [
      "error",
      "never"
    ]
  },
  "globals": {
    "INSTALL": false,
    "INSTALL_OPTIONS": false,
    "INSTALL_PRODUCT": false,
    "INSTALL_SCOPE": false,
    "INSTALL_ID": false
  },
  "extends": [
    "standard"
  ],
  "env": {
    "browser": true
  }
}
